In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [ ]:
!df -h

Filesystem      Size  Used Avail Use% Mounted on
overlay         108G   38G   71G  35% /
tmpfs            64M     0   64M   0% /dev
shm             5.8G     0  5.8G   0% /dev/shm
/dev/root       2.0G  1.1G  910M  54% /sbin/docker-init
tmpfs           6.4G   36K  6.4G   1% /var/colab
/dev/sda1        55G   38G   17G  70% /etc/hosts
tmpfs           6.4G     0  6.4G   0% /proc/acpi
tmpfs           6.4G     0  6.4G   0% /proc/scsi
tmpfs           6.4G     0  6.4G   0% /sys/firmware
drive            15G  1.7G   14G  11% /content/gdrive

In [ ]:
!ls /content/gdrive/'MyDrive'/ML/

titanic.csv

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("../content/gdrive/MyDrive/ML/titanic.csv", index_col="PassengerId")

In [ ]:
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
data2 = data[data['Sex'] == 'female']['Name']

In [ ]:
data2

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
                             ...
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object

1. Какое количество мужчин и женщин ехало на корабле? В качестве
ответа приведите два числа через пробел.

In [ ]:
print('all = ', len(data))
print('male = ', len(data[data.Sex == 'male']))
print('female = ', len(data[data['Sex'] == 'female']))

all =  891
male =  577
female =  314

2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух
знаков.

In [ ]:
len(data[data.Survived == 1]) / len(data) * 100

38.38383838383838

3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до
100, знак процента не нужен), округлив до двух знаков.

In [ ]:
len(data[data.Pclass == 1]) / len(data) * 100

24.242424242424242

4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. Посчитайте среднее и медиану возраста
пассажиров. В качестве ответа приведите два числа через пробел.

In [ ]:
print('mean = ', data.Age.mean())
print('median = ', data.Age.median())

mean =  29.69911764705882
median =  28.0

5. Коррелируют ли число братьев/сестер с числом родителей/детей?
Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [ ]:
data[['SibSp', 'Parch']].corr(method='pearson')

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

6. Какое самое популярное женское имя на корабле? Извлеките из
полного имени пассажира (колонка Name) его личное имя (First
Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и
шумные, но из них требуется извлечь необходимую информацию.
Попробуйте вручную разобрать несколько значений столбца Name
и выработать правило для извлечения имен, а также разделения
их на женские и мужские.

In [ ]:
data2

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
                             ...
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object

если Mrs. то, что в скобках - первое слово
если Miss. то. первое слово после Miss.

In [ ]:
import re

In [ ]:
pattern = r'Miss\..(\w+)\b'
string = 'Johnston, Miss. Catherine Helen "Carrie"'

result = re.findall(pattern, string)
print(result) # работает

['Catherine']

In [ ]:
pattern = r'Mrs\..+\((\w+)\b'
string = 'Shelley, Mrs. William (Imanita Parrish Hall)'

result = re.findall(pattern, string)
print(result) # работает

['Imanita']

In [ ]:
pattern = r'Mrs\..+\((\w+)\b|Miss\..(\w+)\b'
string = 'Graham, Miss. Margaret Edith'

result = re.findall(pattern, string)
print(result) # работает

[('', 'Margaret')]

In [ ]:
from pandas.io.formats.style_render import DataFrame
data3 = []

In [ ]:
for i in data2:
    result = re.findall(pattern, i) # pattern = r'Mrs\..+\((\w+)\b|Miss\..(\w+)\b'
    if result:
        if result[0][0] != '':
            data3.append(result[0][0])
        else:
            data3.append(result[0][1])

In [ ]:
data4 = pd.DataFrame(data3, columns=['Name'])

In [ ]:
import numpy as np
zer = np.zeros(len(data4.Name.unique()))

In [ ]:
z = zer.tolist()
z

In [ ]:
data6 = DataFrame(z, index=data4.Name.unique(), columns=['Count'], dtype='int')

In [ ]:
for i in data4.Name:
    data6.loc[[i]] += 1

In [ ]:
data6.sort_values(by='Count')[-50:]

           Count
Martha         2
Lily           2
Bridget        2
Mabel          2
Johanna        2
Constance      2
Dorothy        2
Adele          2
Helene         2
Ethel          2
Susan          2
Agnes          2
Clara          2
Elsie          2
Rosalie        2
Marjorie       2
Charlotte      2
Marija         2
Lucile         2
Hedwig         2
Jessie         2
Mathilde       2
Rosa           2
Jane           3
Kate           3
Hanora         3
Elisabeth      3
Amelia         3
Marion         3
Edith          3
Lillian        3
Florence       3
Madeleine      3
Ida            3
Katherine      3
Catherine      4
Emily          4
Ellen          4
Annie          4
Ada            4
Marie          4
Augusta        4
Helen          5
Maria          5
Bertha         5
Alice          6
Margaret      10
Elizabeth     11
Mary          14
Anna          15