1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas.
2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).
3. Обратите внимание, что признак Sex имеет строковые значения.
4. Выделите целевую переменную — она записана в столбце Survived.
5. В данных есть пропущенные значения — например, для некоторых
пассажиров неизвестен их возраст. Такие записи при чтении их в
pandas принимают значение nan. Найдите все объекты, у которых
есть пропущенные признаки, и удалите их из выборки.
6. Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию.
7. Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи
(в качестве ответа укажите названия признаков через запятую без
пробелов).

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("../content/gdrive/MyDrive/ML/titanic.csv", index_col="PassengerId")

In [4]:
data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
data3 = data[['Survived','Pclass', 'Sex', 'Age', 'Fare']].dropna()

In [7]:
dataSurv = data3[['Survived']]

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
data3['Sex'] = data3['Sex'].apply(lambda x: x == 'male')

In [22]:
data3

             Survived  Pclass    Sex   Age     Fare
PassengerId
1                   0       3   True  22.0   7.2500
2                   1       1  False  38.0  71.2833
3                   1       3  False  26.0   7.9250
4                   1       1  False  35.0  53.1000
5                   0       3   True  35.0   8.0500
...               ...     ...    ...   ...      ...
886                 0       3  False  39.0  29.1250
887                 0       2   True  27.0  13.0000
888                 1       1  False  19.0  30.0000
890                 1       1   True  26.0  30.0000
891                 0       3   True  32.0   7.7500

[714 rows x 5 columns]

In [23]:
data2 = data3[['Pclass', 'Sex', 'Age', 'Fare']]

In [24]:
data2

             Pclass    Sex   Age     Fare
PassengerId
1                 3   True  22.0   7.2500
2                 1  False  38.0  71.2833
3                 3  False  26.0   7.9250
4                 1  False  35.0  53.1000
5                 3   True  35.0   8.0500
...             ...    ...   ...      ...
886               3  False  39.0  29.1250
887               2   True  27.0  13.0000
888               1  False  19.0  30.0000
890               1   True  26.0  30.0000
891               3   True  32.0   7.7500

[714 rows x 4 columns]

In [25]:
clf = DecisionTreeClassifier(random_state=241)

In [26]:
clf.fit(data2, dataSurv)

DecisionTreeClassifier(random_state=241)

In [27]:
importances = clf.feature_importances_

In [28]:
importances # наиболее важные признаки Sex, Fare

array([0.14000522, 0.30051221, 0.2560461 , 0.30343647])